@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opsional: Agar font default langsung berubah */
body {
  @apply bg-light-bg text-dark font-sans;
}

/* Animasi halus untuk Login */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeInUp 0.8s ease-out forwards;
}